<div class="row" style=" width: 100% ">
  
    <div class="row"  style=" width: 100% ; height: auto ">
        <img [src]="data.imageUrl" style=" width: 250px ; max-width: 100% ; margin:  0 auto">
      </div>
    
  <div style="margin:0 auto; width: 100%">



        <table  style="width:100% ; margin: 0 auto ; float: right; "  >
          <tr>
            <td class="tablebody-tr">Name:</td>
            <td class="tablebody-td">{{data.country.name}}
            </td>
          </tr>


            <tr>
              <td class="tablebody-tr">Code:</td>
              <td class="tablebody-td">{{data.country.alpha2Code }} , {{data.country.alpha3Code}}
              </td>
            </tr>

            <tr>
              <td class="tablebody-tr">Demonym:</td>
              <td class="tablebody-td">{{data.country.demonym}}
              </td>
            </tr>
            <tr>
              <td class="tablebody-tr">Capital:</td>
              <td class="tablebody-td">{{data.country.capital}}
              </td>
            </tr>

            <tr>
              <td class="tablebody-tr">Geographic situation:</td>
              <td class="tablebody-td">{{data.country.subregion}}
              </td>
            </tr>


            <tr>
              <td class="tablebody-tr">Langue(s):</td>
              <td class="tablebody-td">{{data.country.languages[0].name}} | {{data.country.languages[0].nativeName}}
              </td>
            </tr>

            <tr>
              <td class="tablebody-tr">Population:</td>
              <td class="tablebody-td">{{data.country.population}}
              </td>
            </tr>

            <tr>
              <td class="tablebody-tr">Area:</td>
              <td class="tablebody-td">{{data.country.area}}
              </td>
            </tr>
            <tr>
              <td class="tablebody-tr">Currencies(s):</td>
              <td class="tablebody-td">{{data.country.currencies[0].code}}, {{data.country.currencies[0].name}}
              </td>
            </tr>
            <tr>
              <td class="tablebody-tr">Calling code:</td>
              <td class="tablebody-td">{{data.country.callingCodes}}
              </td>
            </tr>

            <tr>
              <td class="tablebody-tr">regionalBlocs:</td>
              <td class="tablebody-td">{{data.country.regionalBlocs[0].acronym}}, {{data.country.regionalBlocs[0].name}}
              </td>
            </tr>
          <tr>
            <td class="tablebody-tr">Borders:</td>
            <td class="tablebody-td">{{data.country.borders.join(', ')}}
            </td>
          </tr>
            <tr>
              <td class="tablebody-tr">Timezone(s):</td>
              <td class="tablebody-td">{{data.country.timezones.join(', ')}}
              </td>
            </tr>

        </table>
  </div>

</div>
