<div >
  <div class="mat-elevation-z8" style="width: 80% ; margin-left: auto ;margin-right: auto ; margin-top: 5%  ">
    <mat-form-field style="margin-left: 20px">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
    </mat-form-field>


    <table mat-table [dataSource]="dataSource" matSort  style="width: 100% ">

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="capital">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Capital</th>
        <td mat-cell *matCellDef="let element"> {{element.capital}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>region</th>
        <td mat-cell *matCellDef="let element" class='tr-hover-class'> {{element.region}}</td>
      </ng-container>

      <ng-container matColumnDef="alpha2Code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> alpha2Code</th>
        <td mat-cell *matCellDef="let element" class='tr-hover-class'> {{element.alpha2Code}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
        <td mat-cell *matCellDef="let row" class='tr-hover-class'>
          <button type="button" style="color:darkgreen " class="btn btn-success" mat-icon-button (click)="editValeurPage(row)">

            <i class="fa fa-pencil mat-icon"></i></button>

          <button type="button" style="color:firebrick " class="btn btn-danger" mat-icon-button (click)="deleteValeur(row)"><i
              class="fa fa-times mat-icon"></i></button>


        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirectNewValeurPage(row)" class='tr-hover-class'></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

    <!-- <mat-paginator [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
     </mat-paginator> -->


  </div>

  <div class="row" style=" width: 30% ; clear: right">
    <form novalidate [formGroup]="valeurFormShow">
      <fieldset [disabled]="true">
        <table>

          <tbody>


          <tr>
            <td class="tablebody-tr">Nom:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="Valeur type" formControlName="name">
            </td>
          </tr>

          <tr>
            <td class="tablebody-tr">No:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="no" formControlName="valeurnumero"></td>
          </tr>
          <tr>
            <td class="tablebody-tr">Beneficiaire:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="beneficiaire"
                       formControlName="valeurbenefiaire"></td>
          </tr>

          <tr>
            <td class="tablebody-tr">Montant:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="montant" formControlName="valeurmontant">
            </td>
          </tr>

          <tr>
            <td class="tablebody-tr">No compte:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="valeurnumerocompte"
                       formControlName="valeurnumerocompte"></td>
          </tr>


          <tr>
            <td class="tablebody-tr">RIB:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="RIB" formControlName="valeurrib"></td>
          </tr>
          <tr>
            <td class="tablebody-tr">Nom:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="nom" formControlName="valeurnom"></td>
          </tr>

          <tr>
            <td class="tablebody-tr">Status:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="Status" formControlName="valeurstatus">
            </td>
          </tr>

          <tr>
            <td class="tablebody-tr">Solde veille:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="Solde veille"
                       formControlName="valeursoldeveille"></td>
          </tr>


          <tr>
            <td class="tablebody-tr">Ecart:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="ecart" formControlName="valeurecart"></td>
          </tr>


          <tr>
            <td class="tablebody-tr">Date d'emission:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="date d'emission"
                       formControlName="valeurdateemission"></td>
          </tr>

          <tr>
            <td class="tablebody-tr">Code banque:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="code banque"
                       formControlName="valeurcodebanque"></td>
          </tr>


          <tr>
            <td class="tablebody-tr">Agence:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="agence" formControlName="valeuragence">
            </td>
          </tr>

          <tr>
            <td class="tablebody-tr">Date de rejet:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="date de rejet"
                       formControlName="valeurdaterejet"></td>
          </tr>

          <tr>
            <td class="tablebody-tr">Date de regularisation:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="date de regularisation"
                       formControlName="valeurdateregularisation"></td>
          </tr>

          <tr>
            <td class="tablebody-tr">Adresse client:</td>
            <td><input class="tablebody-td" matInput type="text" placeholder="addresse client"
                       formControlName="valeuradresseclient"></td>
          </tr>
          <tr>
            <td class="tablebody-tr">Unite:</td>
            <td class="tablebody-tr"><input class="tablebody-td" matInput type="text" placeholder="Unite"
                                            formControlName="valeurunite"></td>
          </tr>

          </tbody>

        </table>

      </fieldset>
      <!--         <button type="submit" class="btn btn-primary"  [disabled]="!valeurForm.valid" >Submit</button>

      <pre>{{valeurForm.value | json}}</pre>

       -->

    </form>
  </div>

</div>